.aboutus-container {
  width: 100%;
  min-height: 80vh;
  background-size: cover;
  display: flex;
  align-items: center;
}

.aboutus-paragraph {
  width: 35%;
  background-color: #2c3e50d9;
  display: flex;
  flex-direction: column;
  padding: 1em;
  backdrop-filter: blur(4px);
  border-radius: 9px;
  margin-left: 2em;
}

.aboutus-title {
  color: white;
  font-size: 2em;
  border-bottom: 2px solid var(--skyBlue);
}

.aboutus-content {
  padding-top: 1em;
  color: white;
  font-size: 0.9em;
}

@media only screen and (max-width: 600px) {
  .aboutus-paragraph {
    width: 85%;
    margin: auto;
  }
}

@media only screen and (max-width: 400px) {
}
@media only screen and (max-width: 1024px) {
  .aboutus-paragraph {
    width: 85%;
    margin: auto;
  }
}
