.filterInput {
  display: flex;
  gap: 1em;
  align-items: center;
  margin: 2em;
  position: relative;
  width: 35%;
}

input#filterItem {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #b8b7b7;
  box-shadow: inset 0px 0px 1px 1px #dddddd7a;
  width: 100%;
}
.filterInput i.fas.fa-search {
  position: absolute;
  right: 1em;
}
