
.login {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  display: flex;
  flex-direction: column;
  height: 78%;
  width: 33%;
  padding: .7em;
  border-radius: 1em;
  background-color: var(--darkBlue);
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 5px 2px #6c757d8a;
}
div.login > form >input {
  height: 3em;
  width: 23em;
  background-color: rgb(252, 248, 248);
  border: 0px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
}

div.login > form > button {
  height: 3.2em;
  width: 23em;
  border-radius: 5px;
  background-color: var(--skyBlue);
  border-color: var(--skyBlue);
}

@media only screen and (max-width: 1240px) and (min-width: 780px) {
  .form-container {
    height: 75%;
    width: 40%;
    padding: 0.5em;
  }
  div.login > form >input {
    height: 3em;
    width: 70%;
  }
  div.login > form > button {
    height: 3em;
    width: 70%;
  }
}
@media only screen and (max-width: 780px) and (min-width: 500px) {
  .form-container {
    height: 70%;
    width: 60%;
  }
  div.login > form >input {
    height: 3em;
    width: 80%;
  }
  div.login > form > button {
    height: 3em;
    width: 80%;
  }
}
@media only screen and (max-width: 500px) {
  .form-container {
    height: 70%;
    width: 90%;
  }
  div.login > form >input {
    height: 3em;
    width: 80%;
  }
  div.login > form > button {
    height: 3em;
    width: 80%;
  }
}
