.register {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form1-container {
  display: flex;
  flex-direction: column;
  gap: .7em;
  width: 33%;
  padding: 1.2em 0em;
  border-radius: 20px;
  background-color: var(--darkBlue);
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 5px 2px #6c757d8a;
}
div.register > form >input {
  height: 3em;
  width: 23em;
  background-color: rgb(252, 248, 248);
  border: 0px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
}
div.register > form > button {
  height: 3.2em;
  width: 23em;
  margin-bottom: .2em;
  border-radius: 5px;
  background-color: var(--skyBlue);
  border-color: var(--skyBlue);
}

@media only screen and (max-width: 1240px) and (min-width: 780px) {
  .form1-container {
    width: 40%;
  }
  div.register > form >input {
    height: 3em;
    width: 70%;
  }
  div.register > form > button {
    height: 3em;
    width: 70%;
  }
}
@media only screen and (max-width: 780px) and (min-width: 500px) {
  .form1-container {
    width: 60%;
  }
  div.register > form >input {
    height: 3em;
    width: 80%;
  }
  div.register > form > button {
    height: 3em;
    width: 80%;
  }
}
@media only screen and (max-width: 500px) {
  .form1-container {
    width: 90%;
  }
  div.register > form >input {
    height: 3em;
    width: 80%;
  }
  div.register > form > button {
    height: 3em;
    width: 80%;
  }
}
